p {
    background-color: aqua
}

div p {
    color: red;
    background-color: blue;
}

#siuNhan {
    color: burlywood;
}

div#QuanQue {
    background-color:teal;
}

.classViet {
    background-color: black;
    color:blueviolet;
}

div.classViet {

    background-color: red;
    color: aqua;
}